:root {
  --color1: #287d14;
}
body {
  background-color: #000;
}
.hero {
  height: 100vh;
  background: url(../images/home/hero/hero.png) no-repeat center;
  background-size: 100% 100vh;
}

/* navbar */
.navbar {
  padding: 0px;
  padding-top: 20px;
  .dropdown {
    a:hover {
      color: #000 !important;
    }
  }
}
.navbar_items {
  margin: 0px;
  width: 100%;
  padding: 0px 50px;
  .herozintal_nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    li {
      a,
      button {
        text-decoration: none;
        color: #d9d9d9 !important;
        font-weight: bold;
      }

      .menuImg {
        width: 50px;
        height: 35px;
        margin-top: 23px;
        cursor: pointer;
      }
      form {
        background-color: #000;
        border-radius: 50px;
        border: none;
        outline: none;
        padding: 7px 0px 7px 30px;
        box-sizing: border-box;
        label i {
          color: #868585 !important;
          position: relative;
          &::after {
            position: absolute;
            top: -5px;
            right: -1200%;
            height: 180%;
            content: "";
            background-color: #868585;
            width: 1px;
            height: 140%;
          }
        }
        input {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 22px;
          color: #fff;
          position: relative;
          width: 50%;
        }
      }
    }
    .dropdown-menu {
      border-top: 4px solid var(--color1);
      margin-top: 20px;
      padding-bottom: 30px !important;
      a {
        padding-inline-end: 100px;
        padding-top: 10px;
      }
    }
    .dropdown-toggle:not(.verticalOne)::after {
      border-top: none;
    }
    @media (min-width: 0px) and (max-width: 1100px) {
      .verNavLinks {
        display: none;
      }
      .logoImg {
        width: 60%;
      }
      .logoParentLi {
        order: 2;
      }
    }
    @media (max-width: 600px) {
      .searchParentLi {
        display: none;
      }
    }
  }
  .btn-close {
    background: transparent url(../images/navbar/xmark-solid.svg) center / 1em
      auto no-repeat !important;
  }
  .vertical_nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      a {
        font-weight: lighter;
        font-size: 20px;
        color: #fff;
      }
    }
  }
  hr {
    background: #fff;
  }
}

/* hero section */
.heroContent {
  padding: 0px 30px;
  .heroImageContainer {
    img {
      height: 83vh;
      width: 60%;
      /* margin-top: 20px; */
      margin-left: 130px;
    }
  }
  .footy {
    color: white;
    margin-top: 140px;
    h1 {
      font-size: 110px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    span {
      display: block;
      font-size: 35px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p {
      font-size: 40px;
      font-weight: 600;
      word-spacing: 1px;
      letter-spacing: 1;
      width: 90%;
    }
    button {
      padding: 17px 65px;
      text-transform: capitalize;
      border-radius: 50px;
      background: none;
      border: 1px solid gainsboro;
      color: gainsboro;
      margin-top: 70px;
      background-color: transparent;
      transition: all 0.4s;
      &:hover {
        background-color: #545454;
      }
    }
  }
}
@media (max-width: 1350px) {
  .heroContent {
    .footy {
      p {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1300px) {
  .heroContent {
    .footy {
      p {
        font-size: 30px;
      }
    }
    .heroImageContainer {
      img {
        width: 76%;
        margin-left: 50px;
      }
    }
  }
}
@media (max-width: 992px) {
  .heroImageContainer {
    display: none;
  }
  .footy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .heroContent {
    padding: 0px 10px;
    .footy {
      h1 {
        font-size: 80px !important;
      }
      span {
        font-size: 30px !important;
      }
      p {
        font-size: 20px !important;
      }
    }
  }
}

/* join */
.join {
  padding: 100px 0px;
  .join-footy {
    h1 {
      color: aliceblue;
      text-align: center;
      margin: auto;
      font-size: 64px;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    span {
      color: #287d14;
      text-shadow: 0px 3px 7px #287d14;
    }
    p {
      color: azure;
      text-align: center;
      margin: auto;
      font-size: 36px;
      width: 50%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%);
        width: 100px;
        height: 2px;
        background-color: #d9d9d9;
      }
    }
  }
}
@media (max-width: 1120px) {
  .join p {
    width: 80% !important;
  }
}
@media (max-width: 992px) {
  .join h1 {
    font-size: 50px !important;
  }
  .join p {
    font-size: 30px !important;
  }
}
@media (max-width: 400px) {
  .join p {
    width: 98% !important;
  }
}

/* fpx Container */
.fpxContainer {
  /* height: 200vh; */
  background: url(../images/home/fpx/fpxBG.png) no-repeat center;
  background-size: cover;
  padding: 0px 30px;
  .fpx h1 {
    color: #287d14;
    font-size: 40px;
    font-weight: 700;
  }
  img {
    width: 100%;
    height: 600px;
  }
  .fpx {
    padding-top: 100px;
    .fpx-model {
      margin-top: 160px;
      h1 {
        font-size: 80px;
      }
      p {
        color: #287d14;
        font-size: 32px;
        font-weight: 500;
        word-spacing: 1px;
        margin-top: 30px;
        width: 100%;
      }
      span {
        color: white;
      }
    }
  }

  .want {
    margin-top: 200px;
    .working {
      margin-top: 130px;
      margin-left: 100px;
      h1 {
        font-size: 60px;
        font-weight: 700;
        color: #287d14;
      }
      p {
        font-size: 28px;
        font-weight: 500;
        color: white;
        word-spacing: 2px;
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 1420px) {
  .want {
    .working {
      h1 {
        font-size: 50px !important;
      }
      p {
        font-size: 22px !important;
      }
    }
  }
}
@media (max-width: 992px) {
  .fpxContainer {
    .fpx {
      padding: 0;
    }
    .fpx-model {
      margin-top: 30px !important;
    }
    .want {
      margin-top: 10px !important;
      .working {
        margin-top: 100px !important;
        margin-left: 0px !important;
      }
    }
  }
}
@media (max-width: 600px) {
  .fpxContainer {
    img {
      height: 300px !important;
    }
    .fpx {
      h1 {
        font-size: 55px !important;
      }
      p {
        font-size: 20px !important;
      }
    }
  }
}

/* statistics  */

.statistics {
  background-color: #000;
  width: 70%;
  margin: 170px auto;
  .contentContainer {
    text-align: center;
    .statisticsImage {
      height: 80px;
    }
    .statisticsNumber {
      color: #ea1c16;
      margin-bottom: 0;
      margin-top: 30px;
      font-size: 32px;
      font-weight: bold;
    }
    .statisticsTitle {
      color: #fff;
      margin-bottom: 0;
      font-size: 40px;
    }
    @media (max-width: 992px) {
      margin-top: 80px;
    }
  }
  @media (max-width: 992px) {
    margin: 0px auto 100px !important;
  }
}

/* discover */
.discover {
  background: url(../images/home/discover/bg.png) no-repeat;
  background-size: cover;
  .discoverHeading {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: 65%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 150px;
    span {
      color: #287d14;
    }
    @media (max-width: 1200px) {
      margin-bottom: 20px;
      width: 85%;
    }
  }
  .contentConatiner {
    padding-bottom: 140px;
    .content {
      background: url(../images/home/discover/contentBg.png) no-repeat;
      background-size: cover;
      text-align: center;
      padding: 125px 0px;
      position: relative;
      height: 460px;
      /* width: 90%; */
      img {
        height: 100px;
      }
      p {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        margin-top: 50px;
      }
      .discoverBtn {
        color: #fff;
        padding: 10px 50px;
        background: #d9d9d952;
        font-size: 36px;
        font-weight: 700;
        border-radius: 10px;
        text-decoration: none;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%);
      }
      @media (max-width: 1200px) {
        margin-top: 100px;
      }
      @media (max-width: 700px) {
        height: 545px;
      }
    }
  }
}

/* footer */
.footer {
  padding: 40px 0px;
  color: #fff;
  ul :not(.socialContainer) {
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .hr {
    background-color: #2cc609;
    height: 3px;
    margin-bottom: 60px;
  }
  .first {
    img {
      margin-top: 25%;
    }
  }
  .second {
    p {
      font-size: 20px;
      font-weight: lighter;
      width: 80%;
      span {
        color: #287d14;
        font-size: 22px;
      }
    }
    .socialContainer {
      display: flex;
      padding: 0;
      gap: 20px;
      li {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: #000 !important;
        }
      }
    }
  }
  .third {
    h4 {
      color: #287d14;
    }
    ul {
      padding: 0;
      li {
        margin-top: 10px;
      }
    }
  }
  .fourth {
    li {
      margin-top: 17px;
    }
  }
}
